.header{background-image: radial-gradient(circle, #1e0fe3 1px, #0d0909 1px);
background-size: 25px 25px; 
background-position: center;
background-color: #f7f1f1; /* Set the background color to black */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
transition: height .2s ease-out;}

.logo img{
    width: 75px;
    height: auto;
}
