.audio-ls{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #050b12;
}

.audio-ls-header{
    cursor: pointer;
  
}

.audio-ls-item{
    margin-left: 100px;
    margin-top: 40px;
    cursor: pointer;
}

.audio-ls-item .audio-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: grey;
    overflow: hidden;
}
.audio-ls-item .audio-img img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.audio-info{
    font-size: 14px;
}

.audio-info p:last-child{
    color: grey;
}